body {
  background-color: #2d2f37;
  color: #e6e6e6;
  font-family: Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  line-height: 1.2;
}

pre {
  position: relative;
  padding: 30px 25px 25px 25px;
  margin: 15px 0;
  border: 2px dashed tomato;
  color: coral;
  font-size: 16px;
  overflow: visible;
}

pre::before {
  content: 'dump';
  position: absolute;
  top: -2px;
  left: -2px;
  background-color: tomato;
  padding: 2px 4px;
  font-size: 10px;
  // color: tomato;
  color: #e6e6e6;
}

h1 {
  font-size: 55px;
  margin-bottom: .5em;
}

.head {
  padding: 20px 0;
}
